i{
	font-size: 45px;

}


.fa-facebook-square{
	color:blue;
}


.fa-youtube{
	font-size:40px;
	color:#ff0000;
}

.fa-instagram{
	color:#405de6;
	color:#5851db;
	color:#833ab4;
	color:#c13584;
	color:#e1306c;
	color:#fd1d1d;
	color:#f56040;
	color:#f77737;
	color:#fcaf45;
	color:#ffdc80;
	
}




